.postCard {
  background-color: #f7fffc;
  padding: 2.5rem;
}

.postTitle{
  font-weight: bold;
  color: #6f7574;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 2;
  white-space: pre-line;
  -webkit-box-orient: vertical;
}
.image-background {
  background: #000;
  width: 100%;

}
.image-container {
  overflow: hidden;
}

#contentImg { 
  width: 100%;
}

.modal-content {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 100px;
}
