.postCard {
  background-color: #f7fffc;
  padding: 2.5rem;
}

.postTitle{
  font-weight: bold;
  color: #6f7574;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 2;
  white-space: pre-line;
  -webkit-box-orient: vertical;
}
.image-background {
  background: #000;
  width: 100%;

}
.image-container {
  overflow: hidden;
}

#contentImg { 
  width: 100%;
}

.modal-content {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 100px;
}

.postCard--footer{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.postCard--footer .more,
.icons-wrapper 
{
  flex: 1 1 0;
}

.icons-wrapper {
  display: flex;
  justify-content: space-between;
}

.postCard--icons p{
  margin: 0 10px;
}

.postCard--icons {
  display: flex;
  align-items: center;
  color: #6f7574;
  cursor: pointer;
}

.postCard--icons:hover{
  color: #21DEBE;
}

.more:hover{
  text-decoration: underline;
}

.modal-profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius:50%;
  overflow: hidden;
}

.profile-pic img{
  width: 100%;
  margin-bottom: 50%;
  margin-top: 0;
}

.profile-name{
  font-size: 24px;
  font-weight: bold;
  margin:0;
}

.profile-job {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #6F7574;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-title {
  font-size: 26px;
  color: #6F7574;
  font-weight: bold;
  margin-bottom: 1rem;
}