.suggestItem {
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
}
.suggestItem:hover {
  background-color: #ddf4f1;
}
.suggestTitles {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}
.suggestLike {
  padding-left: 5px;
  margin: 0;
}
