@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap%27");
html {
  min-height: 100vh;
  background-color: #d6e4e2;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  border-radius: 10px !important;
}
.sc-chat-window,
.sc-launcher{
  z-index: 999 !important;
}

.sc-launcher,
.sc-header,
.sc-message--text{
  background-color: #21debe !important;
}

